html, body {
    background-image: url("../images/tweede_kamer.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#stemwijzer-container > .subText {
    color: #01B4DC;
}

.containers {
    padding: 50px 40px;
    font-size: 18px;
}

.next-question {
    font-size: 18px;
    color: lightgrey;
}

.next-question:hover {
    color: darkgrey;
    text-decoration: none;
}

.place-container {
    width: 100px;
    height: 100px;

    display: inline-block;
    margin: 0 25px;

    border: 1px solid lightgray;
    border-radius: 50%;

    position: relative;
}